* {
    box-sizing: border-box;

    font-size: 16px;
}

body {
    margin: 0;
}

/* ------------------------------ */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;

    border: 2px solid magenta;
    height: 100vh;
}
/* ------------------------------ */


/* ------------------------------ */
.container {
    border: 4px solid darkcyan;
    padding: 10px;
    margin: 0 auto;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}
/* ------------------------------ */


/* ------------------------------ */
.one {
    position: relative;
}

.frame {
    left: 275px;
}

.one.clicked .frame {
    left: -5px;
}

.two {
    position: relative;
}

.two.clicked .frame {
    /* here */
}
/* ------------------------------ */


/* ------------------------------ */
.frame {
    border: 4px solid grey;
    height: 67px;
    width: 267px;

    position: absolute;
    top:  -5px;

    transition: left 0.5s;
}
/* ------------------------------ */


/* ------------------------------ */
.box {
    border: 2px solid black;
    height: 60px;
    width:  260px;

    margin: 10px;
    float: left;

    line-height: 1rem;
}
/* ------------------------------ */
